/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  width: 90%;
  margin: 0 auto;
  font-family: 'Sono', sans-serif;
}

h2 {
  line-height: 3rem;
}

.letter-container {
  display: flex;
  width: 100%;
}

 .letter-card {
  background-color: aqua;
  aspect-ratio : 1 / 1;
  width: 5%;
  margin-right: 50px;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }
